// .ui-page-body {
//     -webkit-overflow-scrolling : touch;
// }
// input,
// textarea {
//   -webkit-appearance: none;
// }

.common-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 16px 16px 80px 16px;
}